*{
    font-family: Verdana, Geneva, sans-serif;
}
body{
    background-color: #f5f5f5;
}
ol{
    list-style-type: upper-roman;
}
ol li{
    margin-left: 5px;
    margin-bottom: 5px;
    color: #273e80;
}
ol li::marker{
    color: #000000;
    font-weight: bold;
}
ol ol{
    list-style-type: numeric;
}
ol ol ol{
    list-style-type: lower-latin;
}