*{
    font-family: Verdana, Geneva, sans-serif;
}
body{
    background-color: #f5f5f5;
}
ul{
    list-style-type: none;
}
ul li::before{
    content: '>';
}
#winter{
    list-style-image: url(icons/winter_16.png);
}
#spring{
    list-style-image: url(icons/spring_16.png);
}
#summer{
    list-style-image: url(icons/summer_16.png);
}
#autumn{
    list-style-image: url(icons/autumn_16.png);
}
#winter li::before, #spring li::before, #summer li::before, #autumn li::before{
    content: '';
}
